* {
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:url('../ico/cursor.ico');
}

body {
	background: #000;
	background-image: url(../images/bg-7.jpg);
	perspective: 800px;
	height: 100vh;
	width: 100vw;
	background-size:100%;
	background-repeat: no-repeat;
}
.top-bar{
	width: 100%;
	height: 15vh;
	position:absolute;
	top:0;
	left:0;
	z-index: 1;
}

.curtain{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0vh;
	background-color:rgba(0, 0, 0, .5);
}

.top-bar:hover .curtain{
	width:100%;
	height:15vh;
	transition: all 0.4s;
	z-index: -1;
}

.text-container{
	height: 8vh;
	width:90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	
}

.top-bar:hover .text-container{
	transition: all 0.4s;
	height: 15vh;
}

.top-link{
	font-size: large;
	color:white;
	text-shadow: 1px 1px black;
	padding: 2em;
}


#box {
	width: 50vw;
	margin: auto;
	transform-style: preserve-3d;
	transform: rotateX(-10deg);
}

#wrap {
	position: relative;
	width: 130px;
	height: 130px;
	margin: auto;
	top: 40vh;
	transform-style: preserve-3d;
	transition: all 2s;
}
.wrap-animation1{
	animation: mftransform1 2s ;
	animation-fill-mode: forwards;
}
.wrap-animation2{
	animation: mftransform2 2s;
	animation-fill-mode: forwards;
}
.wrap-animation3{
	animation: mftransform3 2s ;
	animation-fill-mode: forwards;
}
.wrap-animation4{
	animation: mftransform4 2s ;
	animation-fill-mode: forwards;
}
.wrap-animation5{
	animation: mftransform5 2s ;
	animation-fill-mode: forwards;
}

#wrap img {
	position: absolute;
	width: 18vh;
	height: 18vh;
	/* box-shadow: 0 0 5px #000; */
	-webkit-box-reflect: below 5px -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .5)100%);
	border-radius: 5PX;
	/* transform: rotateY(0deg) translateZ(0px); */
	cursor: pointer;
	top:0vh;
	opacity: 0.8;
	background-color: rgba(255,255,255,0.6);
	border-radius: 1vh;
}

#wrap img:hover {
	top:-1vh;
	transition: all .3s;
	opacity: 1;
	background-color: rgba(255,255,255,0.8);
}


#wrap img:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px);
}

#wrap img:nth-child(2) {
	transform: rotateY(72deg) translateZ(300px);
}

#wrap img:nth-child(3) {
	transform: rotateY(144deg) translateZ(300px);
}

#wrap img:nth-child(4) {
	transform: rotateY(216deg) translateZ(300px);
}

#wrap img:nth-child(5) {
	transform: rotateY(288deg) translateZ(300px);
}


@keyframes mftransform1 {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(72deg);
	}
}
@keyframe mftransform2{
	0% {
		transform: rotateY(72deg);
	}
	100% {
		transform: rotateY(144deg);
	}

}
@keyframe mftransform3{
	0% {
		transform: rotateY(144deg);
	}
	100% {
		transform: rotateY(216deg);
	}
	
}
@keyframe mftransform4{
	0% {
		transform: rotateY(216deg);
	}
	100% {
		transform: rotateY(288deg);
	}
	
}
@keyframe mftransform5{
	0% {
		transform: rotateY(288deg);
	}
	100% {
		transform: rotateY(360deg);
	}
	
}
span img{
	position: absolute;
	top: 40vh;
	opacity: 0.7;
	cursor: pointer;
	-webkit-box-reflect: below -10px -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .5)100%);
}

img[func=l]{
	left: 15vw;	
}
img[func=r]{
	right: 15vw;
	transform: rotateY(180deg);
}
span img:hover{
	transition: all .5s ;
	opacity: .9;
	
}
#gotobtn{
	width: 15vw;
	height: 4.5vw;
	border-radius: 3vw;
	background: linear-gradient(90deg,rgba(151,249,240,.7) ,rgba(251,200,212,.7)) ;
	position: absolute;
	left: 42.5vw;
	bottom: 9vh;
	text-align: center;
	line-height: 4.5vw;
	cursor: pointer;
	overflow: hidden;
	border: 2px solid #46e8ea fixed;
	box-shadow: 0px 0px 60px 10px rgba(58, 211, 223, 1);
	
}
#btn-link{
	font-size: 2.4em;
	color: #fff;
	letter-spacing: 0.15em;
	text-shadow: 1px 1px black ;
}
.ripple{
	position: absolute;
	width:800px;
	height:800px;
	background-color:white;
	animation: ripple-anim 2s forwards;
	border-radius: 50%;
}

@keyframes ripple-anim{
	from{
		transform: scale(0);
		opacity: .8;
	}
	to{
		transform: scale(1);
		opacity: 0;
	}
}
