@import './general.css';

#music{
    /* background-color: black; */
    background-image: url(~assets/music/music-bj1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}
#audio{
    display: none;
}

.title-h1{
    position: absolute;
    font-family:'Agnes-Bold';
    font-size:5em;
    left: 4vw;
    top: 1vh;
    background: linear-gradient(to right,rgb(28, 114, 251),rgb(241, 30, 178));
    background-clip: text;
    color: transparent;
    user-select: none;
}

.music-box{
    position: absolute;
    height: 80vh;
    width: 80vw;
    left: 10%;
    top: 13vh;
    border-radius: 10px;
    border: rgb(97,122,240) 3px solid;
    background-color: rgba(196, 253, 251, 0.2);
    box-shadow: 10px 10px 20px #4a36ff ,-10px -10px 20px #ff2378,-10px 10px 20px #4a36ff ,10px -10px 20px #ff2378;
    overflow: hidden;
    transition: all .4s;
    transform: translateZ(50px);
    z-index: 50;
}
.music-box-far{
    transform: translateZ(-50px);
}
/* 音乐列表模拟盒子 */
.music-bar{
    position: absolute;
    top: 7vh;
    height: 75%;
    width: 30vh;
    background-color:transparent;
    opacity: .7;
    border-radius: 5px;
    z-index: 30;
}

.showbar {
    position: absolute;
    
    top: 7vh;
    height: 60vh;
    width: 30vh;
    background-color: rgba(251, 251, 251, 0.596);
    border-radius: 5px;
    transition: all .3s;
    opacity: 1;
    transform: translateX(2px);
    z-index: 60;

}

.showbar-hidden{
    transform: translateX(-20vw);
    z-index: 61;
}
ul li{
    margin-top: 20px;

}
ul{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    
}
/* .h3 {
    top: .2vh;
    position: relative;
    display: inline;
    margin-right: 2.5vw;
    padding-left: 1.5vw;
} */
/* .music-bar-list li{
    position: relative;
    display: inline;
    margin-left: 1vw;
} */

.bulletScreen{
    position: relative;
    width: 50px;
    left: 16vw;
    top: 3.5vh;
}
.bulletText{
    position: absolute;
    top: .9vh;
    left: 16.2vw;
    color:#892cdc;
    font-size: 1em;
}

/*在这调弹幕输入容器样式*/
.bulletInput{
    position: absolute;
    left:0;
    width:100vw;
    justify-content: center;
    bottom: 10px;
    transition: all .4s;
    z-index: 51;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bulletInput-hidden{
    transform: translateY(10vh);

}

/*在这调输入框整体样式*/
.el-input{
    width:20vw;
}

/*在这调输入框文本框样式*/
.el-input input{
    color: white;
    background-color:rgba(0, 0, 0, 0.561);
}

/*弹幕文字输出样式设置*/
.bulletTextContent{
    position: absolute;
    left: 40%;
    list-style: none;
    font-size: 1.2em;
    color: white;

}

.music-btn-last{
    position: absolute;
    height: 45px;
    width: 45px;
    left: 1%;
    top: 1.2vh;
    background-size: 100%;
    user-select: none;
}
.music-btn-position{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 5%;
    top: 1vh;
    background-size: 100%;
    user-select: none;
}

.music-btn-next{
    position: absolute;
    height: 45px;
    width: 45px;
    left: 9.5%;
    top: 1.2vh;
    /* background-size: 100%; */
    transform: rotateZ(-180deg);
    user-select: none;
}
/* 两个小log的动画 */
.some-btns{
    cursor: pointer;
    display: block;
    transition: all 0.4s;
}

.some-btns:hover{
    filter: brightness(2);
    box-shadow: 0 0 10px 5px solid white;
}
.music-porgre-border{
    position: absolute;
    border: 1px solid rgb(17, 255, 255);
    height: 1.5vh;
    width: 55vw;
    top: 2.75vh;
    left: 25%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.75vh;
    border: rgb(97,122,240) solid 1px;
    box-shadow: 0 0 5px 1px rgb(97,122,240);
    transition: filter 0.4s;
}

.music-porgre-border:hover{
    filter: brightness(1.6);
}

.music-porgre-solid{
    position: absolute;
    height:1.5vh;
    width: 100%;
    /* top: 10vh; */
    left: -100vw;
    background:linear-gradient(to right,rgb(28, 114, 251),rgb(241, 30, 178),rgb(30, 234, 241),rgb(241, 30, 178),rgb(28, 114, 251));
    background-size: 400%;
    animation: porgreColor 20s infinite linear;
    transition: all 0.3s linear;
    border-radius: 0.75vh;
    opacity: 0.6;
    filter: brightness(1.3);
}
@keyframes porgreColor{
    0%{
        background-position-x: -400%;
    }50%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -400%;
    }
}

.progress-bar{
    position: absolute;
    height: 7vh;
    width: 80vw;
    left: 0;
    top:91%;
    background-color: rgba(0, 0, 0, .6);
}
.music-porgre{

}
.music-seek{
    position: absolute;
    border: none;
    outline: none;
    width: 23vw;
    height: 4vh;
    left: 52vh;
    top: 1vh;
    font-size: 1.5em;
    color: cornsilk;
    background-color:rgba(255, 255, 255, 0.1);
    border-color:rgb(169, 22, 182);
    border-radius: 1vh;
}

.music-log{
    position: absolute;
    width: 8vw;
    height: 40vh;
    left: 35vw;
    top:16vh;
    background-image: url(~assets/music/music_log2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: boun 3s infinite;
    filter: brightness(1);
    /* transition: all .3s linear 300ms; */
}
.min-box{
    position: absolute;
    top: 11vh;
    left: 41vw;
    filter: brightness(1);
    animation: minlog 3s infinite;
}

.minlog1{
    position: fixed;
    width: 3vw;
    height: 6vh;
    left: 4vw;
    top:39vh;
    background-size: 100%;
    background-image: url(~assets/music/music_log3.png);
    background-repeat: no-repeat;
}
.minlog2{
    position: fixed;
    width: 3vw;
    height: 6vh;
    left: -10vw;
    top:13vh;
    background-size: 100%;
    background-image: url(~assets/music/music_log4.png);
    background-repeat: no-repeat;

}
@keyframes boun{
    0%,100%{
        top:16vh;
        
    }
    50%{

        top:19vh;
      
    }
}
@keyframes minlog{
0%,99%{
    top: 11vh;
   
}50%{
    top: 9vh;
}

}
/* @keyframes showtxt  {
    from{
        opacity: 0;
        
    }to{
        opacity: .7;
        display: block;
    }
} */
