@import './general.css';

#music{
    /* background-color: black; */
    background-image: url(~assets/music/music-bj1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}
#audio{
    display: none;
}
#music .title-h1{
    position: absolute;
    font-family:'Agnes-Bold';
    font-size:5em;
    left: 4vw;
    top: 1vh;
    background: linear-gradient(to right,rgb(28, 114, 251),rgb(241, 30, 178));
    background-clip: text;
    color: transparent;
    user-select: none;
}

#music .music-box{
    position: absolute;
    height: 80vh;
    width: 80vw;
    left: 10%;
    top: 13vh;
    border-radius: 10px;
    border: rgb(97,122,240) 3px solid;
    background-color: rgba(196, 253, 251, 0.2);
    box-shadow: 10px 10px 20px #4a36ff ,-10px -10px 20px #ff2378,-10px 10px 20px #4a36ff ,10px -10px 20px #ff2378;
    overflow: hidden;
    transition: all .4s;
    transform: translateZ(50px);
    z-index: 50;
}

#music .music-box .bullet-show-container{
    width:80vw;
    height: 70vh;
    position: absolute;
    top:5vh;
    left: 0;
}
#music .music-box-far{
    transform: translateZ(-50px);
}
/* 音乐列表模拟盒子 */
#music .music-bar{
    position: absolute;
    top: 7vh;
    height: 75%;
    width: 30vh;
    background-color:transparent;
    opacity: .7;
    border-radius: 5px;
    z-index: 30;
}
/* 音乐列表显示框 */
#music .showbar {
    position: absolute;
    top: 7vh;
    height: 60vh;
    width: 35vh;
    border-radius: 5px;
    transition: all .3s;
    opacity: 1;
    transform: translateX(2px);
    z-index: 60;

}
#music .music-List-box{
    position: absolute;
    height: 60vh;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
}
#music .list-Head{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    width: 100%;
    height: 2.5em;
    flex-wrap: wrap;
    font-size: 1.2em;
    position: fixed;
    background-color: #000000d8;
    z-index: 3;
    
}
#music .music-List-box .list-Head div{
    color: #ffffff;
    /* text-align: center; */
    width: 7vh;
    line-height: 2.5em;
}
#music .space-to-split{
    height: 2.5em;
}
#music .music-List-box .music-List div{
    width: 11vh;
}
#music .music-List{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #ffffff;
    flex-wrap: wrap;
   align-items: center;
}
#music .music-List div{
    position: relative;
    /* margin: 1vw 0 1vw 0; */
    height: 7vh;
    font-size: .8em;
    line-height: 7vh;
}
#music .music-List:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
#music .music-List img{
    /* position: absolute;
    left: 1.5vw; */
    height: 2vh;
    opacity: .7;
}
#music .music-List img:hover{
    opacity: 1;
    cursor: pointer;
}
#music .music-List img:nth-child(2){
    left: 3vw;
}
#music .showbar-hidden{
    transform: translateX(-20vw);
    z-index: 61;
}
#music .music-seek-list{
    position: absolute;
    top: 5vh;
    left: 25vw;
    z-index: 10;
    
}
#music .music-seek-list th{
    width: 10vw;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    font-size: 1.1em;
    border-bottom: 1px solid black;
}
#music .music-seek-list ul{
    list-style: none;
    display:inline-block;
    width: 10vw;
    text-align: center;
    font-size: 1.2em;
    background-color: #ffffff;
}
#music .music-seek-list li{
    height: 4vh;
    text-align: center;
    line-height: 4vh;
    border-bottom: 1px solid rgb(133, 133, 133);
}

#music .bulletScreen{
    position: relative;
    width: 50px;
    left: 16vw;
    top: 3.5vh;
}
#music .bulletText{
    position: absolute;
    top: .9vh;
    left: 16.2vw;
    color:white;
    font-size: 1em;
}

/*在这调弹幕输入容器样式*/
#music .bulletInput{
    position: absolute;
    left:0;
    width:100vw;
    justify-content: center;
    bottom: 10px;
    transition: all .4s;
    z-index: 51;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#music .bulletInput-hidden{
    transform: translateY(10vh);

}

/*在这调输入框整体样式*/
#music .el-input{
    width:20vw;
}

/*在这调输入框文本框样式*/
#music .el-input input{
    color: white;
    background-color:rgba(0, 0, 0, 0.561);
}
#music .el-table__body-wrapper{
    overflow-x: hidden !important;
}

#music .cell img{
    height: 1vh;
    position: relative;
    left: 0;
}
#music .music-btn-last{
    position: absolute;
    height: 45px;
    width: 45px;
    left: 1%;
    top: 1.2vh;
    background-size: 100%;
    user-select: none;
}
#music .music-btn-position{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 5%;
    top: 1vh;
    background-size: 100%;
    user-select: none;
}

#music .music-seek{
    padding:0 1em;
    box-sizing: border-box;
    font-size: 1em !important;
    font-weight: 200;
}
/* 搜索按钮属性控制 */
#music .music-seek-img img{
    position:absolute;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(255, 255, 255, 0.075);
    opacity: .6;
    left: 47vw;
    top: 1vh;
    width: 2vw;
    height: 4.1vh;
    z-index: 1;
    cursor: pointer;
}
#music .music-seek-img img:hover{
    opacity: 1;
  
}

#music .cuntent-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
/* 音搜索音乐结果一个单元 */
#music .musicPhotoMaxBox{
    position: relative;
    width: 9vw;
    margin: 1vh;
}

#music .musicPhotoBox{
    height: 18vh;
    width: 9vw;
    
   
}
        /* 搜索音乐遮罩 */
#music .musicPhotoMaxBox .musicPhotoBox-Shade{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.363);
    height: 18vh;
    width: 9vw;
    top:0;
    left: 0;
    /* display: none; */
}
#music .musicPhotoBox-Shade img{
    position: relative;
    top: 3.5vw;
    height: 4vh;
    margin-left: 1.5vw;
    opacity: .7;

}
#music .musicPhotoBox-Shade img:hover{
    opacity: 1;
}
#music .musicPhotoBox img{ 

    width: 100%;
    height: 100%;
    box-sizing: 100% 100;
}
#music .search-result-container{
    height: 70vh;
    overflow-y: scroll;
}
/* 音乐下一首歌按钮 */
#music .music-btn-next{
    position: absolute;
    height: 45px;
    width: 45px;
    left: 9.5%;
    top: 1.2vh;
    /* background-size: 100%; */
    transform: rotateZ(-180deg);
    user-select: none;
}
/* 两个小log的动画 */
#music .some-btns{
    cursor: pointer;
    display: block;
    transition: all 0.4s;
}

#music .some-btns:hover{
    filter: brightness(2);
    box-shadow: 0 0 10px 5px solid white;
}
#music .music-porgre-border{
    position: absolute;
    border: 1px solid rgb(17, 255, 255);
    height: 1.5vh;
    width: 55vw;
    top: 2.75vh;
    left: 25%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.75vh;
    border: rgb(97,122,240) solid 1px;
    box-shadow: 0 0 5px 1px rgb(97,122,240);
    transition: filter 0.4s;
}

#music .music-porgre-border:hover{
    filter: brightness(1.6);
}
/* 音乐进度条 */
#music .music-porgre-solid{
    position: absolute;
    height:1.5vh;
    width: 100%;
    /* top: 10vh; */
    left: -100vw;
    background:linear-gradient(to right,rgb(28, 114, 251),rgb(241, 30, 178),rgb(30, 234, 241),rgb(241, 30, 178),rgb(28, 114, 251));
    background-size: 400%;
    animation: porgreColor 20s infinite linear;
    transition: all 0.3s linear;
    border-radius: 0.75vh;
    opacity: 0.6;
    filter: brightness(1.3);
}
@keyframes porgreColor{
    0%{
        background-position-x: -400%;
    }50%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -400%;
    }
}

#music .progress-bar{
    position: absolute;
    height: 7vh;
    width: 80vw;
    left: 0;
    top:91%;
    background-color: rgba(0, 0, 0, .6);
}
#music .music-porgre{

}
/* 音乐搜索输入框 */
#music .music-seek{
    position: absolute;
    border: none;
    outline: none;
    width: 21vw;
    height: 4vh;
    left: 52vh;
    top: 1vh;
    font-size: 1.5em;
    color: cornsilk;
    background-color:rgba(255, 255, 255, 0.1);
    border-color:rgb(169, 22, 182);
    border-radius: 1vh;
}
/* 音乐大log */
#music .music-log{
    position: absolute;
    width: 8vw;
    height: 40vh;
    left: 35vw;
    top:16vh;
    background-image: url(~assets/music/music_log2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: boun 3s infinite;
    filter: brightness(1);
    /* transition: all .3s linear 300ms; */
}
/* 两个小log的盒子 */
#music .min-box{
    position: absolute;
    top: 11vh;
    left: 41vw;
    filter: brightness(1);
    animation: minlog 3s infinite;
}
/* 小log1 */
#music .minlog1{
    position: fixed;
    width: 3vw;
    height: 6vh;
    left: 4vw;
    top:39vh;
    background-size: 100%;
    background-image: url(~assets/music/music_log3.png);
    background-repeat: no-repeat;
}
/* 小log2 */
#music .minlog2{
    position: fixed;
    width: 3vw;
    height: 6vh;
    left: -10vw;
    top:13vh;
    background-size: 100%;
    background-image: url(~assets/music/music_log4.png);
    background-repeat: no-repeat;
}
@keyframes boun{
    0%,100%{
        top:16vh;
    }
    50%{
        top:19vh;
    }
}
@keyframes minlog{
0%,99%{
    top: 11vh;
}50%{
    top: 9vh;
}

}

