@import './general.css';
.photos-title{
    position: absolute;
    font-size:5em;
    left: 4vw;
    top: 0vh;
    background: linear-gradient(to right,rgb(28, 114, 251),rgb(241, 30, 178));
    background-clip: text;
    color: transparent;
    user-select: none;
    font-family:'Agnes-Bold';
}
.photosBox{

}
#photos{ 
    background:url("~assets/photos/photos-bj.jpg");
   
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
}
/* .Bj-show{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
} */
.Bj-show img{
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* left: 30vw; */
    filter: blur(10px) contrast(70%);
    /* max-width: 100%; */
    /* filter:contrast(80%); */
}
.photosBox{
    position: absolute;
    background-color: aliceblue;
    top: 10vh;   
}
/* 照片列表 */
.photos-list{
    position: absolute;
    display: flex;
    width:100vw;
    height: 9vh;
    top: 78vh;
    border: 2px solid rgb(67,180,255);
    background-color: rgba(140, 219, 255, 0.2);
    transition: 0.8s all;
    /* overflow: hidden; */
    /* display: none; */
}

.photos-list-hidden{
    transform: translateY(11vh);
}

.bound-block{
    position: absolute;
    height:100%;
    width:3vw;
    background-color: rgba(0,0,0,0.2);
    top:0;
    cursor: e-resize;
    transition: all 0.4s;
    color: black;
    line-height: 9vh;
    text-align: center;
    font-weight: 800;
    font-size: 1.5em;
}

.bound-block:hover{
    color: white;
}

.left-bound-block{
    left: -2px;
}



.right-bound-block{
    right: 0;
}


ul{
    position: absolute;
    display: flex;
    flex-direction: row;
}
ul li{
    top: 2px;
    height: 4.5vw;
    /* width: 9vh; */
    list-style: none;
    margin: 0 0 8PX 8PX;
    /* background-color: rgb(0, 247, 255); */
    display: inline-block;
    /* opacity: .7; */

}
ul li img {
    top: 2px;
    /* width: 100%; */
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border: cyan 1px solid;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgb(67,180,255);
    transition: 0.4s all;
}

ul li img:hover{
    border: cyan 2px solid;
    box-shadow: 0px 0px 10px 3px rgb(67,180,255);
    transform: scale(1.2);
    margin: 0 25px;
}

ul li .active{
    border: 4px solid paleturquoise !important;
    box-shadow: 0px 0px 15px 3px paleturquoise !important;
    transform: scale(1.2);
    margin: 0 20px;
}

.photos-show{
    position: absolute;
    width: 60vw;
    height: 74vh;
    left: 20vw;
    background-color: transparent;
    flex-direction: row;
    display:flex;
    list-style: none;
    transition: 0.8s all;
    z-index: 100;
}

.photos-show-hidden{
    transform: translateY(-100vh);
    opacity: 0;
}

.photos-show .photos-show-imgstyle{
    height: 100%;
    width: 100%;
    /* width: 100%; */
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(67, 180, 255);
    /* box-shadow: 0px 0px 100px 4px rgb(255, 255, 255); */

  
}
.photos-show .photos-btn-right{
    position: absolute;
    top: 45%;
    right: 2vw;
    width: 4.5vw;
    height: 9vh;
    z-index: 3;
    opacity: .5;
}
.photos-show .photos-btn-left{
    position: absolute;
    top: 45%;
    left: 2vw;
    width: 4.5vw;
    height: 9vh;
    transform: rotateZ(180deg);
    z-index: 3;
    opacity: .5;
    
}

.photos-show .photos-btn{
    transition: 0.4s all;
    cursor: pointer;
}
.photos-show .photos-btn:hover{
    opacity: 1;
    filter:brightness(2);
}

.meteor{
    position: absolute;
    top: -1vh;
    width: 150px;
    height: 3px;
    border-radius: 4px;
    background-image: linear-gradient(to right, rgba(1, 204, 255, 0.801) 20%,transparent 100%,rgba(240, 240, 0, 0.322) 100%,transparent 60%);
    z-index: 55;
    animation: met 5s infinite linear;
}
@keyframes met {
    from{
        transform: translateX(0) translateY(0) rotate(-30deg);
    }
    to{
        transform: translateX(-260vh) translateY(150vh) rotate(-30deg);
    }
}
.meteor::before,
.meteor::after{
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    background-image: inherit;
    filter: blur(7px);
}

.switch-btn-container{
    position: absolute;
    top:40vh;
    right: 5vw;
    width:16vh;
    height: 16vh;
}

.photo-album-list-container{
    height: 70vh;
    width: 70vw;
    position: absolute;
    top: 15vh;
    left: 15vw;
    z-index: 99;
    background-color: transparent;
    perspective: 1000px;
    transform-style: preserve-3d;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-album-container{
    width:70vw;
    height: 50vh;
    transform: translateZ(-800px);
    transition: transform 0.8s;
}

.photo-album-container-appear{
    transform: translateZ(-200px);
}

#photos .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
  
#photos .el-carousel__item:nth-child(2n) {
    background-color: transparent;
}

#photos .el-carousel__item:nth-child(2n+1) {
    background-color: transparent;
}

#photos .el-carousel__indicators{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.el-carousel__item{
    
}

.el-carousel__mask{
    background-color: transparent !important;
}

.album-item-container{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 10%;
}

.album-item-container .date-show{
    position: absolute;
    top:0;
    left: 0;
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px black;
    box-sizing: border-box;
    padding: 12%;
}

.album-item-container img{
    display: block;
    width: 100%;
    border: 2px solid rgb(67,180,255);
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    opacity: 0.6;
    transition: 0.4s all;
    transform: scale(1);
}

.album-item-container img:hover{
    opacity: 1;
    transform: scale(1.1);
}

.add-photos-btn-container{
    transform: translateZ(-800px);
    position: absolute;
    bottom: 5vh;
    transition: 0.8s;
    opacity: 0.9;
}

.add-photos-btn-container-appear{
    transform: translateZ(-200px);
}

.remark-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    height: 15%;
    width:100%;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    box-sizing: border-box;
    padding: 2em;
    animation: remark-bar-show 0.4s forwards;
}

@keyframes remark-bar-show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.search-by-date-container input{
    /* opacity: 0.6; */
    background-color: transparent;
    color: white;
    text-align: center;
}

.add-photos-dialog{
    /* background-color: #70a1ff; */
    border: rgb(23, 72, 235) 1px solid;
    transition: all 0.4s;
    background-color: #000;
    min-width: 800px;
    animation: border-shine 1s infinite linear;
}

.add-photos-dialog-leftoff{
    transform: translateX(-10vw);
}

.add-photos-block{
    width: 100%;
    height: 60vh;
    transition: 0.4s;
    box-sizing: border-box;
    padding: 2vh;
    position: relative;
    
}

.photos-upload-list-show{
    position: absolute;
    top:0;
    right: 0;
    width: 20vw;
    height: 100vh;
    /* background-color: white; */
    background-color: #000;
    z-index: 2002;
    transform: translateX(20vw);
    transition: 0.4s all;
    border-left: rgb(114, 32, 114) 1px solid;
}

.photos-upload-list-show-show{
    transform: translateX(0);
}

.photos-upload-list-show .header{
    width: 100%;
    height: 10vh;
    /* background-color: blue; */
    border-bottom:  rgb(114, 32, 114) 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photos-upload-list-show .header h2{
    color: transparent;
    background:linear-gradient(180deg,rgb(209, 21, 200) 0,rgb(209, 21, 200) 50%,rgb(46, 93, 221) 50%,rgb(39, 92, 238) 100%);
    background-clip: text;
    
}

.photos-upload-list-show .header .el-button{
    background-color: transparent;

}

.photos-upload-list-show .upload-list{
    width: 100%;
    height: 90vh;
    transition: all 0.4s;
    overflow-y: scroll;
    overflow-x: hidden;
}

.photos-upload-list-show .upload-list .upload-item{
    width: 90%;
    height: 12vh;
    margin: auto;
    margin-top:2vh;
    animation: upload-item-appear 0.5s forwards;
    transition: all 0.4s;
    position: relative;
    box-shadow: 0 0 10px 2px rgb(29, 111, 204);
}

.photos-upload-list-show .upload-list .upload-item img{
    position: absolute;
    left: 0;
    top: 0;
    height: 12vh;
    width: 10vw;
    display: block;
    /* background-color: rgba(24, 221, 211, 0.2); */
    /* box-shadow: 0 0 10px 2px rgb(234,234,234); */
    border: 10px solid transparent;
    box-sizing: border-box;
    opacity: 0.9;
}

.photos-upload-list-show .upload-list .upload-item .el-button,.el-progress{
    position: absolute;
    right: 10%;
    top:50%;
    transform: translateY(-50%);    
    background-color: transparent;
    /* color: rgb(114, 32, 114); */
    /* top: 0; */
}

.photos-upload-list-show .upload-list .upload-item .el-button,.el-progress .el-progress__text{
    color: white;
}

@keyframes photos-upload-list-show-appear{
    0%{
        transform: translateX(20vw);
    }
    100%{
        transform: translateX(0vw);
    }

}

@keyframes upload-item-appear{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.img-reversation{
    height: 45vh;
    width: 40vw;
    /* border: 1px solid rgb(23, 72, 235); */
    border: 1px solid white;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-reversation .empty-img{
    opacity: 0.8;
    width:20%;
}

.img-reversation .img-preview{
    opacity: 0.9;
    height: 100%;
    max-width: 100%;
}

.img-reversation span{
    font-size: 1.4em;
    color: white;
}

.el-carousel__arrow{
    width: 60px;
    height: 60px;
    background-color: rgba(16, 152, 243,0.6);
}

.photo-auto-msg-container{
    position: absolute;
    width: 20vh;
    height: 45vh;
    /* border: 1px solid white; */
    top: 2vh;
    right: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
}

.photo-auto-msg-container .msg-container{
    height: 5vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;
}

.photo-remark-input-container{
    width: 40vw;
    height: 8vh;
    position: absolute;
    bottom: 2vh;
    left: 2vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1em 0;
}

.photo-remark-input-container textarea{
    background-color: transparent;
    color: white;
}

.photo-remark-btn-container{
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    width: 13vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: ; */
}

.photo-remark-btn-container .el-button{
    background-color: transparent;
}

@keyframes border-shine{
    0%{
        border-top: 0.1vw solid #f2f9fd;
        border-left: 0.1vw solid #ec3858;
        border-bottom: 0.1vw solid #fbb5fa;
        border-right:0.1vw solid #fb984f;

        box-shadow: -3px 0px 5px 0 red, 
                0px -3px 5px 0 #00ffad;
    }
    25%{
        border-right: 0.1vw solid #f2f9fd;
        border-top: 0.1vw solid #ec3858;
        border-left: 0.1vw solid #fbb5fa;
        border-bottom:0.1vw solid #fb984f;

        box-shadow: 0px 3px 5px 0 red, 
                -3px 0px 5px 0 #00ffad;
    }
    50%{
        border-bottom: 0.1vw solid #f2f9fd;
        border-right: 0.1vw solid #ec3858;
        border-top: 0.1vw solid #fbb5fa;
        border-left:0.1vw solid #fb984f;

        box-shadow: 3px 0px 5px 0 red, 
                0px 3px 5px 0 #00ffad;
    }
    75%{
        border-left: 0.1vw solid #f2f9fd;
        border-bottom: 0.1vw solid #ec3858;
        border-right: 0.1vw solid #fbb5fa;
        border-top:0.1vw solid #fb984f;

        box-shadow: 0px -3px 5px 0 red, 
                3px 0px 5px 0 #00ffad;
    }
    100%{
        border-top: 0.1vw solid #f2f9fd;
        border-left: 0.1vw solid #ec3858;
        border-bottom: 0.1vw solid #fbb5fa;
        border-right:0.1vw solid #fb984f;

        box-shadow: -3px 0px 5px 0 red, 
                0px -3px 5px 0 #00ffad;
    }
}