@import './general.css';

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

/* 背景盒子 */
.bgc{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image:url(../assets/plan/img-1.jpg);
    background-size: cover; 
    filter:blur(4px);
    float: left; */
    /* background: rgb(0, 0, 0); */
}

/*背景图片*/
.bgc .mask::after{
    /* content: attr(testStr); */
    content: attr(testStr);
    background-image:url(../assets/plan/img-2.jpg);
    /* background-size: 100vw; */
    /* background-size: 100%; */
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-clip: text;
    background-position: center;
    animation: bgcMove 15s linear reverse infinite;
}

/* 背景文字 */
.bgc .mask{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    /* filter:blur(4px); */
    color: transparent;
    font-size: 20vw;
    text-align: center;
    line-height: 100vh;
   /* background: linear-gradient(rgba(70, 48, 3, 1), rgb(0, 0, 0));
     */
}

/* 日历外框样式 */
#plan .calendar{
    width: 82vw;
    height: 88vh;
    /* background: linear-gradient(45deg,rgba(68,140,173,40%), rgba(68,140,173,30%),rgba(0, 0, 0, 0.78),rgba(219,87,110,45%) 78%,rgba(255,76,87,90%) 81%,rgba(43,45,60,60%) 85%);
    border-radius: 25px; 
    box-shadow: 10px 10px 20px 3px rgba(146,51,85, 0.64),
                10px -10px 20px 3px rgba(130,38,38, 0.64),
                -10px -10px 20px 3px rgba(6,115,148, 0.64),
                -10px 10px 20px 3px rgba(32,29,72, 0.64); */
    position: relative;
    left: 8vw;
    top:4vh;
    z-index: 1;
}

/* 日期-日期外框样式 */
#plan .calendar .date{
    width: 39vw;
    height: 13vh;
    position: absolute;
    top: 0vh;
    left: 23vw;
    border-radius: 20px;
    user-select: none;
    box-shadow: inset -4px 2px 5px 3px rgb(27 6 6 / 47%),
    -16px 20px 20px 8px #273f901c,
    -3px 4px 20px 0px rgb(73 146 136), 
    inset 4px -5px 20px 0px rgb(138 74 94);
    z-index: 2;
    /* animation: dateAn 2s linear; */
}

/* 日期-年份,月份,时间公共样式 */
#plan .calendar .date .year,
#plan .calendar .date .month,
#plan .calendar .date .time{
    position: absolute;
    top: 3vh;
    width: 7vw;
    height: 6vh;
    /* background-color:rgba(3, 255, 255,1); */
    text-align: center;
    line-height: 6vh;
    border-radius: 25px;
    box-shadow:  inset 2px 2px 8px rgba(3, 255, 255,1), 
                 2px -2px 12px #1ac5c5fa, 
                 inset 8px 7px 8px 17px rgb(165 77 77 / 21%), 
                 inset -18px -20px 8px rgb(218 50 59 / 17%);
    font-size: 2vw;
    font-weight: 200;
    text-shadow: 0 0 1px 1px rebeccapurple;
    color: white;
    text-shadow: 0 0 0px 10px turquoise;
    font-family:'DS-Digital';
}

/* 日期-年份,月份,时间公共样式  鼠标放上时*/
#plan .calendar .date  .year:hover,
#plan .calendar .date .month:hover,
#plan .calendar .date .time:hover,
#plan .calendar .date .plus:hover,
#plan .calendar .date .subtract:hover,
#plan .calendar .date .time .stop:hover{
    box-shadow:  2px 2px 8px rgba(3, 255, 255,1), 
                 2px -2px 12px #1ac5c5fa, 
                 inset 8px 7px 8px 17px rgb(165 77 77 / 21%), 
                 inset -18px -20px 8px rgb(218 50 59 / 17%);
}

/* 增加（或减少）年份（或月份）*/
#plan .calendar .date  .plus,
#plan .calendar .date  .subtract,
#plan .calendar .date  .time .stop{
    position: absolute;
    top: 0;
    width: 3.5vw;
    height: 6vh;
    background-color: rgb(32,165,177);
    color: aliceblue;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s all;
}

/* 增加（或减少）年份（或月份） 鼠标放上时*/
#plan .calendar .date  .plus:hover,
#plan .calendar .date  .subtract:hover,
#plan .calendar .date  .time .stop:hover{
    opacity: 1;
}

/* 增加*/
#plan .calendar .date  .plus{
    left: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    opacity: 0;
}

/* 减少 */
#plan .calendar .date  .subtract{
    right: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* 停止 */
#plan .calendar .date  .time .stop{
    width: 7vw;
    border-radius: 25px;
}

/* 日期-年份 */
#plan .calendar .date .year{
    
    left: 3.5vw;
    animation: dataAn 1s linear;
}

/* 日期-月份 */
#plan .calendar .date .month{
    left: 15.5vw;
    animation: dataAn 1s linear;
}

/* 日期-时间 */
#plan .calendar .date .time{
    left:28.5vw;
    animation: dataAn 1s linear;
}

/* 添加计划外框样式 */
/* .plan .add{
    width: 9vw;
    height: 20vh;
    background: linear-gradient(45deg,rgba(0,95,145, 0.137),rgba(15, 22, 49, 0.664));
    border: none;
    border-radius: 1%;
    box-shadow:0px 10px 20px 3px rgba(3, 202, 242, 0.11);
    position: absolute;
    left: 73vw;
    top:45vh;
    z-index: 2;
} */

/* 天数和添加计划 */
#plan .calendar .day-box{
    position: absolute;
    left: 12vw;
    width: 54vw;
    height: 85vh;
}

/* 天数 */
#plan .calendar .day{
    width: 39vw;
    height: 68vh;
    /* background:purple; */
    position: relative;
    left: 11vw;
    top: 15vh;
    color: white;
    /* animation: dayAn 2s linear; */
    user-select: none;
    
}

/* 当天日期 外框*/
#plan .calendar .day .days{
    position: relative;
    width: 4.5vw;
    height: 9vh;
    float: left;
    margin-left: 0.9vw;
    margin-top: 2vh;
}

/* 当天日期 样式 */
#plan .calendar .day .days .week{
    width: 4.5vw;
    height: 9vh;
    /* background-color: rgb(64,204,201,26%); */
    background-color:rgb(109,64,204,35%);
    text-align: center;
    line-height: 9vh;
    color: #02d4f0;
    /* text-shadow: -2px 0 red; */
    box-shadow:  inset 3px 3px 8px rgb(3 255 194 / 41%), 
                 1px 5px 7px #08fff47a, 
                 5px 0px 5px 0px rgb(156 48 48 / 25%), 
                 -2px 1px 17px 3px rgb(218 50 59 / 27%);
    
    font-weight: 700;
    font-size: 1.5vw;
    text-shadow: -2px 0 #eeff01,
                 0 3px #ff0000;
}

/* 当天日期 动画 */
#plan .calendar .day .days .weekAn{
    opacity: 1;
    transform-origin: left;
    transition: 1s all;
}

/* 当天日期 动画 鼠标放上时 */
#plan .calendar .day .days:hover .weekAn{
    transform: rotateY(90deg);
    opacity: 0;
}

/* .plan .calendar .day .days .dAn::before,
.plan .calendar .day .days .dan::after{
    position: absolute;
    content: attr(week);
    width: 100%;
    height: 100%;
    top: 0;
    color: #f9d4a6;
    overflow: hidden;
} */

/* 当前日期 星期文字样式*/
#plan .calendar .day .days .dAn{
    text-shadow: none !important;
    color: white;
}

/* 当前日期 星期文字 before伪类*/
#plan .calendar .day .days .dAn::before{
    position: absolute;
    content: attr(week);
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    overflow: hidden;
    left: -0.1vw;
    text-shadow: -0.1vw 0px red;
    /* clip: rect(2vh,3vw,6vh,0vw); */
    animation: glitch-1 2s 0s linear reverse infinite;
    z-index: 2;
}

/* 当前日期 星期文字 after伪类*/
#plan .calendar .day .days .dAn::after{
    position: absolute;
    content: attr(week);
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    overflow: hidden;
    left: 0.1vw;
    text-shadow: 1vw 0px rgb(55, 0, 255);
    /* clip: rect(2vh,3vw,6vh,0vw); */
    animation: glitch-2 2s 0s linear reverse infinite;
    z-index: 2;
}

/* 当天日期 添加计划 */
#plan .calendar .day .addPlan{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(56,10,51,83%);;
    box-shadow:  inset 2px 3px 7px 0px #ff00d4b0, 
                 1px 5px 7px rgba(255, 76, 210, 0.65), 
                 5px 0px 5px 0px rgb(125,44,44,58%), 
                 -2px 1px 17px 3px rgb(218,50,59,27%);
    width: 4.5vw;
    height: 9vh;
    text-align: center;
    line-height: 9vh;
    transform: rotateY(-90deg);
    opacity: 0;
    transform-origin: right;
    transition: 1s all;
    font-weight: 700;
    font-size: 1vw;
    cursor: pointer;
}

/* 当天日期 添加计划 动画 */
#plan .calendar .day .days:hover .addPlan{
    transform: rotateY(0deg);
    opacity: 1;
}

/* 星期 偶数个*/
#plan .calendar .day .week:nth-child(2n){
    background-color:rgba(6,37,37,77%) ;
}

/* 计划列表 */
#plan .planList{
    transition: transform 0.4s;
    position: absolute;
    right:0 ;
    top: 0;
    width: 20vw;
    height: 100vh;
    z-index: 2;
    /* background-color: rgba(78, 50, 50, 0.158); */
}

/* 计划列表 鼠标移出动画 */
#plan .planList-hidden{
    height: 40vh;
    transform: translateY(20vw);
}

/* 计划列表内容 */
#plan .planList ul{
    position: absolute;
    right: 0;
    top: 7vw;
    width: 20vw;
    height: 75vh;
    overflow-y: scroll;
}

/* 计划列表内的计划 和添加计划*/
#plan .planList  ul .havePlan,
#plan .planList .btnPlan{
    animation: planListDisplay 0.2s;
    transform-origin: right;
    position: absolute;
    background:linear-gradient(45deg,rgb(53, 7, 20,48%),rgba(120,55,57,75%),rgba(125,175,184,72%),rgba(10,43,49,78%),rgba(7,220,235,55%),rgba(40,12,25,92%),rgba(217,68,10));
    box-shadow:  2px 2px 8px rgba(3, 255, 255,1), 
                 2px -2px 12px #1ac5c5fa, 
                 8px 7px 8px 17px rgba(0, 0, 0, 0.11), 
                 -18px -20px 8px rgba(32, 12, 13, 0.17);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    right: 0vw;
    width: 6vw;
    height: 8vh;
    color: rgba(165,220,210);
    text-shadow: 2px 0 #0087ff;
    list-style: none;
}

/* 计划列表 添加计划按钮*/
#plan .planList .btnPlan{
    top: 4vh;
    transition: 0.4s all;
    /* line-height: 8vh; */
    
    /* border-radius: 28px; */
    /* text-align: center; */
    /* opacity: 0; */
}

#plan .planList .btnPlan:hover{
    width: 8vw;
}

/* 计划列表 添加计划按钮内的字体样式 */
#plan .planList .btnPlan div{
    font-size: 3vw;
    margin-left: 2vw;
    line-height: 8vh;
    cursor: pointer;
}

/* 计划列表内的计划 */
#plan .planList ul .havePlan{
    right: 0;
    height: 8vh;
    width: 6vw;
    /* background-color: rgba(255, 255, 255, 0.884); */
    /* border-radius: 25px; */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: 0.4s all;
    /* margin-top: 3vh; */
}

#plan .planList ul .havePlan:hover{
    width: 12vw;
}

/* 删除计划按钮 */
#plan .planList ul .havePlan .planDel{
    border-radius: 50%;
    position: absolute;
    /* left: 2.5vw;
    top: -4vh; */
    left: -2.2vw;
    top: 2.5vh;
    height: 3vh;
    width: 1.5vw;
    line-height: 2.5vh;
    /* line-height: 7.5vh; */
    text-align: center;
    background-color:rgb(109,64,204,35%);
    color: #02d4f0;
    /* text-shadow: -2px 0 red; */
    box-shadow:  inset 3px 3px 8px rgb(3 255 194 / 41%), 
                 1px 5px 7px #08fff47a, 
                 5px 0px 5px 0px rgb(156 48 48 / 25%), 
                 -2px 1px 17px 3px rgb(218 50 59 / 27%);
    text-shadow: -2px 0 #eeff01,
                 0 3px #ff0000;
    cursor: pointer;
}

/* 计划文字 */
#plan .planList ul .havePlan div:nth-child(2){
    /* color: white; */
    margin-left: 2vw;
    line-height: 8vh; 
    cursor: pointer; 
}

/* 添加计划页样式 */
#plan .addPlanPage{
    position: absolute;
    left: 26vw;
    top: 25vh;
    background-color: #303133;
    width: 30vw;
    height: 50vh;
    z-index: 3;
    /* display: none; */
    transition: 1s all;
}

#plan .PlanPageAn{
    transform-origin: left;
    transform: scaleX(1);
}

/* 计划页选择时间样式 */
#plan .addPlanPage .formPlan{
    position: absolute;
    left: 2vw;
    top:5vh ;
    width: 26vw;
    height: 42vh;
    /* background-color: rgba(255, 38, 38, 0.699); */
}

/*计划表单 文字颜色*/
.el-form-item__label{
    color: wheat;
}

/*计划表单 input样式*/
.el-input__inner,
.el-textarea__inner{
    background-color: #1b05057d;
    border: 1px solid #9e3425;
    color: #ffffff;
    width: 70%;
}

.el-textarea__inner{
    width:91%;
}

.el-button{
    border: none;
    border-radius: 25px;
    width: 5vw;
    height: 5vh;
}

.el-button--primary{
    margin-left: 2vw;
}

.el-button+.el-button{
    margin-left: 5vw;
}

/* 背景图片动画 */
@keyframes bgcMove{
    0%{
        background-position: 0vw 0vw;
        background-size: 100vw;
        filter: blur(0);
    }
    25%{
        background-position: 0 50vh;
        background-size: 50vw;
        /* filter: blur(10px); */
    }
    26%{
        background-position: 25vw 48vh;
        background-size: 50vw;
    }
    27%{
        background-position: 0vw 46vh;
    }
    28%{
        background-position: -25vw 44vh;
    }
    29%{
        background-position: -25vw 42vh;
    }
    50%{
        background-position: 0vw 0vh;
        background-size: 100vw;
        filter: blur(0);
    }
    71%{
        background-position: 0vw -42vh;
    }
    72%{
        background-position: -25vw -44vh;
    }
    73%{
        background-position: 0vw -46vh;
    }
    74%{
        background-position: 25vw -48vh;
    }
    75%{
        background-position: 0vw -50vh;
        background-size: 150vw;
        /* filter: blur(10px); */
    }
    100%{
        background-position: 0vw 0vw;
        background-size: 100vw;
        filter: blur(0);
    }
}

/* 年,月,时间动画 */
@keyframes dataAn{
    0% {transform: scale(0); opacity: 0;}
    20%{transform: scale(0.3);}
    50%{transform: scale(0.7);}
    70%{transform: scale(0.9);}
    100%{transform: scale(1); opacity: 1;}
}

/* 增加,减少按钮动画 */
@keyframes plusAn{
    0% {transform: scale(0); opacity: 0;}
    20%{transform: scale(1vw);}
    50%{transform: scale(2vw);}
    70%{transform: scale(3vw);}
    100%{transform: scale(3.5vw); opacity: 1;}
}

/*星期文字before动画*/
@keyframes glitch-1{
    0%{
        clip: rect(4.9vh,3vw,5.5vh,0vw);
    }
    5%{
        clip: rect(2.9vh,3vw,5vh,0vw);
    }
    10%{
        clip: rect(3.5vh,3vw,4.5vh,0vw);
    }
    15%{
        clip: rect(4vh,3vw,4.9vh,0vw);
    }
    20%{
        clip: rect(5vh,3vw,4.5vh,0vw);
    }
    25%{
        clip: rect(2.5vh,3vw,3vh,0vw);
    }
    30%{
        clip: rect(3vh,3vw,3.5vh,0vw);
    }
    35%{
        clip: rect(4.5vh,3vw,4vh,0vw);
    }
    40%{
        clip: rect(5.5vh,3vw,5vh,0vw);
    }
    45%{
        clip: rect(3.5vh,3vw,4.2vh,0vw);
    }
    50%{
        clip: rect(2.9vh,3vw,3.5vh,0vw);
    }
    55%{
        clip: rect(5.5vh,3vw,4vh,0vw);
    }
    60%{
        clip: rect(6vh,3vw,2vh,0vw);
    }
    70%{
        clip: rect(4.5vh,3vw,3vh,0vw);
    }
    75%{
        clip: rect(2.9vh,3vw,3.8vh,0vw);
    }
    80%{
        clip: rect(3.5vh,3vw,2.5vh,0vw);
    }
    85%{
        clip: rect(4vh,3vw,3.6vh,0vw);
    }
    90%{
        clip: rect(3.5vh,3vw,6vh,0vw);
    }
    95%{
        clip: rect(3.9vh,3vw,5.7vh,0vw);
    }
    100%{
        clip: rect(2.9vh,3vw,5.2vh,0vw);
    }
}

/*星期文字after动画*/
@keyframes glitch-2{
    0%{
        clip: rect(2.5vh,3vw,3vh,0vw);
    }
    5%{
        clip: rect(4vh,3vw,4.9vh,0vw);
    }
    10%{
        clip: rect(5vh,3vw,4.5vh,0vw);
    }
    15%{
        clip: rect(4.9vh,3vw,5.5vh,0vw);
    }
    20%{
        clip: rect(2.9vh,3vw,5vh,0vw);
    }
    25%{
        clip: rect(3.5vh,3vw,4.5vh,0vw);
    }
    30%{
        clip: rect(5.5vh,3vw,5vh,0vw);
    }
    35%{
        clip: rect(3.5vh,3vw,4.2vh,0vw);
    }
    40%{
        clip: rect(2.9vh,3vw,3.5vh,0vw);
    }
    45%{
        clip: rect(3vh,3vw,3.5vh,0vw);
    }
    50%{
        clip: rect(4.5vh,3vw,4vh,0vw);
    }
    55%{
        clip: rect(3.5vh,3vw,2.5vh,0vw);
    }
    60%{
        clip: rect(4vh,3vw,3.6vh,0vw);
    }
    70%{
        clip: rect(3.5vh,3vw,6vh,0vw);
    }
    75%{
        clip: rect(3.9vh,3vw,5.7vh,0vw);
    }
    80%{
        clip: rect(2.9vh,3vw,5.2vh,0vw);
    }
    85%{
        clip: rect(5.5vh,3vw,4vh,0vw);
    }
    90%{
        clip: rect(6vh,3vw,2vh,0vw);
    }
    95%{
        clip: rect(4.5vh,3vw,3vh,0vw);
    }
    100%{
        clip: rect(2.9vh,3vw,3.8vh,0vw);
    }
   
}

/*小计划标签动画*/
@keyframes planListDisplay{
    0%{
        transform: scaleX(0); opacity: 0;
    }
    100%{
        transform: scaleX(1); opacity: 1;
    }
}


