@import './general.css';
#relation{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: rgba(128, 229, 255, 0.534);

    overflow: hidden;
    /* background-size: 100% 100%; */
}
.relation-title-h1{
    position: absolute;
    font-family:'Agnes-Bold';
    font-size:5em;
    left: 4vw;
    top: 1vh;
    background: linear-gradient(to right,rgb(28, 114, 251),rgb(241, 30, 178));
    background-clip: text;
    color: transparent;
    user-select: none;
}
.contentBox{
    position: relative;
    width: 52vw;
    height: 100vh;
    left: 23.4vw;
    border: 1px solid black ;
    overflow: hidden;
}
/* 标题 */
.titleHead{
    position: absolute;
    width: 9VW;
    height: 100%;
    /* background-color: rgba(108, 183, 253, 0.671); */
    border: 1.5px solid black ;
    /* border-radius: .7vw; */
    border-bottom-left-radius: .7;
    border-bottom-left-radius: .7;
}
.titleHead div{
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    border: 1px solid black;
    line-height: 7vh;
    padding-left: 1vw;
    box-sizing: border-box;
    cursor: pointer;
}
.titleHead .active{
    background-color: rgba(0, 0, 0, 0.39);
    color: skyblue;
}
/* 内容 */
.titleContent{
    position: absolute;
    /* 内容板块移动 */
    top: 0vh;
    width: 42.8VW;
    height: 400vh;
    right: 0;
    /* background-color: rgba(147, 108, 253, 0.459); */
    /* border: 1.5px solid black ; */
    transition: all 0.5s;
    border-bottom-right-radius: .7;
    border-bottom-right-radius: .7;
    /* display: none; */
}

.myWorld{
    position: relative;
    width: 60vw;
    height: 100vh;
}
.release{
    position: relative;
    width: 60vw;
    height: 100vh;
}
.getPraise{
    position: relative;
    width: 60vw;
    height: 100vh;
}

.myWorld-Content-box{

    position: relative;
    padding: 2vh;
    width: 43vw;
    height: 25vh;
    margin-bottom: 30px;
    background-color: rgba(12, 12, 12, 0.123);
}
.contentText{
    position: relative;
    left: 14vw;
    flex-direction: row;
    width: 28vw;
    height: 23vh;
    border-radius: 8px;
    /* background-color: rgb(0, 4, 255); */
}
.myWorld-Content-ico{
    position: absolute;
    top: 22vh;
    right: 9vw;
   
}
.myWorld-Content-box img{
    /* left: vw; */
    position: absolute;
    border-radius: 8px;
    width: 12vw;
    height: 23vh;
    /* background-color: blanchedalmond; */
}
.myWorld-Content-ico img{
    width: 25px;
    height: 25px;

}
.myWorld-Content-ico img:nth-child(1){
    position: absolute;
    left: 3vw;
}
.myWorld-Content-ico p{
    position: absolute;
    color: red;
    top: -1vw;
    left: 1vw;
}
.contentText{
    
}
.contentText  p{
    position: relative;
    padding: 3px;
    left: .4xw;
    font-size: 1.3em;
    line-height: 4vh;
}

/* .myWorld-Content-box input{
    position: absolute;
    top: 30vh;
    width: 20vw;
    height: 3vh;
    border: none;
    outline: none;
    font-size: 1.4em;
    background-color: rgba(12, 12, 12, 0.123);
} */
.myWorld-Content-box .iptBox{
    
    /* top: 28vh;
    right: 2vw; */
    width: 45vw;
    height: 4vh;
    background-color: rgba(12, 12, 12, 0.123);
    transition: all .3s;
    display: block;
}
.animation{
    top: 28vh;
}
.iptBox input{
    left: 2vw;
    top: .5vh;
    position: relative;
    /* top: 30vh; */
    width: 30vw;
    height: 3vh;
    border: none;
    outline: none;
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.664);

}
.iptBox button{
    border: none;
    outline: none;
    position: relative;
    /* flex-direction: row; */
   
    height: 3vh;
    width: 5vw;
    right: -4vw;
    background-color: skyblue;
    box-shadow: 1px 1px 4px #000;
}

#relation .pingLunBox.active{
    right: 0vw;
    background-color: rgb(255, 255, 255);
}
ul{
    list-style: none; 
}
/* 组件 */
.relation-supplement-components{
    position: absolute;
    top: -2vh;

}
.popper-class{
    width: 18vw;
    /* left: 20vw; */
    /* top: 5vh; */
}
.custom-class{
/* background-color: ; */
height: 10vh;
}
.el-textarea__inner{
    font-size: 1.7em;
    width: 71%;
    height: 30vh;
    background-color: rgb(255, 255, 255);
}
.releaseBox{
    font-size: 4em;
    position: absolute;
    top: 7vh;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.el-input__count{
    position: absolute;
    width: 2vw;
    left: 39.6vw;
}

.el-upload--picture-card{
    position: absolute;
    top: 30vh;
    line-height: 120px;
}
.releaseHead{
    width: 71vw;
    height: 10vh;
    background-color: white;
}
.releaseHead p{
    top: 1vh;
    font-size: 2em;
}
.releaseHead button{
    left: 37vw;
    top: 1vh;
    position: absolute;
    height: 5vh;
    border: none;
    outline: none;
    width: 9vh;
    background-color: skyblue;
    box-shadow: 0 0 4px #000;
}
.el-upload-dragger{
    width: 180px;
}
.imgUpload{
    
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
cursor: pointer;
}
.imgUpload img{
    position: relative;
    height: 3vw;
    width: 3vw;
}
.imgUpload input{
    position: relative;
    height: 7vw;
    width: 7vw;
    top: 0;
    display: none;
    background-color: white;
}
.upload-container{
    height: 8.5vw;
    width: 33vw;
    display: flex;
    flex-direction: row;

    /* border: 1px dashed red; */
}
.upload-item{
    height: 8vw;
    width: 8vw;
    border: 1px dashed black;
    margin: 4px;
}
.upload-item img{
    height: 8vw;
    width: 8vw;
}
.testBox{
    position: fixed;
    flex-direction: row;
    height:100vh;
    width: 24.4vw;
    right: -25vw;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
}
.testBoxgo{
    right: 0vw;
}
.close{
    position: relative;
    right: 0;
    width: 2vw;
    height: 2vw;
}