@import './general.css';
#relation{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.924);
    background-image: url(../assets/relation/1039991.jpg);
    background-size: 100% 100%;
    overflow: hidden;
    
}
.relation-title-h1{
    position: absolute;
    font-family:'Agnes-Bold';
    font-size:5em;
    left: 4vw;
    top: 1vh;
    background: linear-gradient(to right,rgb(28, 114, 251),rgb(241, 30, 178));
    background-clip: text;
    color: transparent;
    user-select: none;
}
.contentBox{
    position: relative;
    width: 52vw;
    height: 100vh;
    left: 23.4vw;
    border: 1px solid rgba(0, 0, 0, 0.301) ;
    overflow: hidden;
}
/* 标题 */
.titleHead{
    position: absolute;
    width: 9VW;
    height: 100%;
    background-color: rgba(63, 128, 189, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.37) ;
    /* border-radius: .7vw; */
    border-bottom-left-radius: .7;
    border-bottom-left-radius: .7;
}
.titleHead div{
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    border: 1px solid black;
    line-height: 7vh;
    padding-left: 1vw;
    box-sizing: border-box;
    cursor: pointer;
    
}
.titleHead .active{
    background-color: rgba(0, 0, 0, 0.39);
    color: skyblue;
}
/* 内容 */
.titleContent{
    position: absolute;
    /* 内容板块移动 */
    top: 0vh;
    width: 42.8VW;
    height: 400vh;
    right: 0;
    /* background-color: rgba(147, 108, 253, 0.459); */
    /* border: 1.5px solid black ; */
    transition: all 0.5s;
    border-bottom-right-radius: .7;
    border-bottom-right-radius: .7;
    /* display: none; */
}

.myWorld{
    position: relative;
    width: 60vw;
    height: 100vh;
    overflow-y: scroll;
}
.release{
    position: relative;
    width: 60vw;
    height: 100vh;
}
.getPraise{
    position: relative;
    width: 42.8VW;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.37);
}
.getPraise-box{
    position: absolute;
    width: 42.8VW;
    height: 100vh;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.getPraise-box p{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:#fff;
    font-size: 1.4em;
    letter-spacing: .3em;
    animation: tis .9s infinite;
    transition: all .3s;
}
@keyframes tis{
    0%{ 
        color:rgb(255, 255, 255);
        text-shadow: 0px 0px 10px #f8f416;
    }25%{
        color:rgb(255, 255, 255);
        text-shadow: 0px 0px 20px #c3f816;
    }
    50%{
        color:rgb(255, 255, 255);
        text-shadow: 0px 0px 10px #1638f8;
    }
    100%{
        color:rgb(255, 255, 255);
        text-shadow: 0px 0px 20px #1638f8;
    }

}
.getPraise-box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.myWorld-Content-box{

    position: relative;
    padding: 2vh;
    width: 43vw;
    height: 25vh;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.336);
}
/* .myWorld-Content-box:hover{
    transition: all 5s;
    animation:abc 6s infinite ;
} */
@keyframes abc{
    0%{
        border-top: 0.1vw solid #f2f9fd;
        border-left: 0.1vw solid #ec3858;
        border-bottom: 0.1vw solid #fbb5fa;
        border-right:0.1vw solid #fb984f;

        box-shadow: -3px 0px 5px 0 red, 
                0px -3px 5px 0 #00ffad;
    }
    25%{
        border-right: 0.1vw solid #f2f9fd;
        border-top: 0.1vw solid #ec3858;
        border-left: 0.1vw solid #fbb5fa;
        border-bottom:0.1vw solid #fb984f;

        box-shadow: 0px 3px 5px 0 red, 
                -3px 0px 5px 0 #00ffad;
    }
    50%{
        border-bottom: 0.1vw solid #f2f9fd;
        border-right: 0.1vw solid #ec3858;
        border-top: 0.1vw solid #fbb5fa;
        border-left:0.1vw solid #fb984f;

        box-shadow: 3px 0px 5px 0 red, 
                0px 3px 5px 0 #00ffad;
    }
    75%{
        border-left: 0.1vw solid #f2f9fd;
        border-bottom: 0.1vw solid #ec3858;
        border-right: 0.1vw solid #fbb5fa;
        border-top:0.1vw solid #fb984f;

        box-shadow: 0px -3px 5px 0 red, 
                3px 0px 5px 0 #00ffad;
    }
    100%{
        border-top: 0.1vw solid #f2f9fd;
        border-left: 0.1vw solid #ec3858;
        border-bottom: 0.1vw solid #fbb5fa;
        border-right:0.1vw solid #fb984f;

        box-shadow: -3px 0px 5px 0 red, 
                0px -3px 5px 0 #00ffad;
    }
}
.contentText{
    position: relative;
    left: 14vw;
    flex-direction: row;
    width: 28vw;
    height: 23vh;
    border-radius: 8px;
    /* background-color: rgb(0, 4, 255); */
}
.myWorld-Content-ico{
    position: absolute;
    top: 22vh;
    right: 9vw;
   
}
.myWorld-Content-box img{
    /* left: vw; */
    position: absolute;
    border-radius: 8px;
    width: 12vw;
    height: 23vh;
    /* background-color: blanchedalmond; */
}
.myWorld-Content-ico img{
    cursor: pointer;
    width: 25px;
    height: 25px;

}
.myWorld-Content-ico img:nth-child(1){
    position: absolute;
    left: 3vw;
}
.myWorld-Content-ico p{
    position: absolute;
    color: red;
    top: -1vw;
    left: 1vw;
}
.contentText{
    
}
.contentText  p{
    position: relative;
    padding: 3px;
    left: .4xw;
    font-size: 1.2em;
    line-height: 4vh;
    color: #fff;
}

/* .myWorld-Content-box input{
    position: absolute;
    top: 30vh;
    width: 20vw;
    height: 3vh;
    border: none;
    outline: none;
    font-size: 1.4em;
    background-color: rgba(12, 12, 12, 0.123);
} */
.myWorld-Content-box .iptBox{
    
    /* top: 28vh;
    right: 2vw; */
    width: 45vw;
    height: 4vh;
    background-color: rgba(88, 88, 88, 0.123);
    transition: all .3s;
    display: block;
}
.animation{
    top: 28vh;
}
.iptBox input{
    left: 2vw;
    top: .5vh;
    position: relative;
    /* top: 30vh; */
    width: 30vw;
    height: 3vh;
    color: #fff;
    /* border: none; */
     border: 1px solid rgb(18, 107, 251);
    outline: none;
    font-size: 1.4em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.233);

}
.iptBox button{
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
   top: 2px;
    height: 3vh;
    width: 5vw;
    right: -4vw;
    background-color: skyblue;
    box-shadow: 1px 1px 4px #000;
}

#relation .pingLunBox.active{
    right: 0vw;
    background-color: rgb(255, 255, 255);
}
ul{
    list-style: none; 
}
/* 组件 */
.relation-supplement-components{
    position: absolute;
    top: -2vh;

}
.popper-class{
    width: 18vw;
    /* left: 20vw; */
    /* top: 5vh; */
}
.custom-class{
/* background-color: ; */
height: 10vh;
}
/* 大输入框 */
.el-textarea__inner{
    font-size: 1.7em;
    width: 71%;
    height: 30vh;
    color: #fff;
    background-color: rgba(107, 107, 107, 0.39);
}
.releaseBox{
    font-size: 4em;
    position: absolute;
    top: 7vh;
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.507);
    margin-bottom: 20px;
}
.el-input__count{
    position: absolute;
    background-color: transparent;
    color: #fff;
    width: 2vw;
    left: 39.6vw;
}
.el-textarea .el-input__count{
    background: transparent;
    color: #fff;
}

.el-upload--picture-card{
    position: absolute;
    top: 30vh;
    line-height: 120px;
}
.releaseHead{
    width: 71vw;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.712);
}
.releaseHead p{
    top: 1vh;
    font-size: 2em;
}
.releaseHead button{
    cursor: pointer;
    left: 37vw;
    top: 1vh;
    position: absolute;
    height: 5vh;
    border: none;
    outline: none;
    width: 9vh;
    border-radius: 5px;
    background-color: skyblue;
    box-shadow: 0 0 4px #000;
}
.el-upload-dragger{
    width: 180px;
}
.imgUpload{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.imgUpload img{
    position: relative;
    height: 3vw;
    width: 3vw;
}
.imgUpload input{
    position: relative;
    height: 7vw;
    width: 7vw;
    top: 0;
    display: none;
    background-color: white;
}
.upload-container{
    height: 8.5vw;
    width: 33vw;
    display: flex;
    flex-direction: row;

    /* border: 1px dashed red; */
}
.upload-item{
    height: 8vw;
    width: 8vw;
    border: 1px dashed rgba(255, 255, 255, 0.507);
    margin: 4px;
}
.upload-item img{
    height: 8vw;
    width: 8vw;
}
.testBox{
    position: fixed;
    flex-direction: row;
    height:100vh;
    width: 24.4vw;
    right: -25vw;
    background-color: rgba(255, 255, 255, 0.493);
    transition: all .3s;
}
.testBox p{
    font-size: 1.2em;
}
.testBoxgo{
    right: 0vw;
}
.close{
    position: relative;
    right: -22vw;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}